body{
    width:400px;
}

.promoimg{
    width:300px;
}

.logo {
    margin-bottom:20px;
    display:flex;
    justify-content: center;
}

.logo img{
    height:150px;
    width:auto;
    margin-bottom:10px;
}

h1{
    font-size:25px;
}

#orderdetails{
    display: flex;
    justify-content:center;
    list-style: none;
    margin-bottom:30px;
}

#orderdetails td{
    padding-right:8px;
    padding-bottom:5px;
}

#orderitems{
    display:flex;
    justify-content: center;
}

#orderitems th{
    text-align:left;
    background-color:lightgrey;
    padding:4px 8px;
}

#orderitems td{
    padding:5px 3px;
}

#trackorder{
    width:30%;
    margin-left:55%;
    margin-top:30px;
    background-color:gray;
    padding:8px 3px;
    text-align:center;
}

#trackorder a{
    color:white;
    text-decoration:none;
}

#bottominfo{
    font-style: italic;
}